name: main

# Automatically cancel a previous run.
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - '*'
  merge_group:

jobs:

  run-type-checking:

    name: Run tests for type-checking
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Install just
        uses: extractions/setup-just@v3
      - run: just typing

  run-tests:

    name: Run tests for ${{ matrix.os }} on ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        python-version: ['3.8', '3.9', '3.10', '3.11', '3.12']

    steps:
      - uses: actions/checkout@v6
      - uses: r-lib/actions/setup-tinytex@v2
        if: runner.os != 'Windows'
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true
      - name: Install just
        uses: extractions/setup-just@v3

      - name: Install MacOS dependencies.
        if: runner.os == 'macOS'
        shell: bash -l {0}
        run: brew install ghostscript

      - name: Install LaTeX dependencies.
        if: runner.os != 'Windows'
        shell: bash -l {0}
        run: tlmgr install import epstopdf biblatex biber

      # Unit and end-to-end tests.

      - name: Run unit tests and doctests.
        shell: bash -l {0}
        run: just test-unit

      - name: Upload unit test coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v5
        with:
          flags: unit

      - name: Run end-to-end tests.
        shell: bash -l {0}
        run: just test-end-to-end

      - name: Upload end_to_end test coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v5
        with:
          flags: end_to_end
